@tailwind base;
@tailwind components;
@tailwind utilities;

code {
    font-family: "iranyekanwebregular.ttf";
  }
  
   @font-face {
    font-family: "iranyekanwebregular";
    src: local("iranyekanwebregular"), url(./iranyekanwebregular.ttf) format("truetype");
  }